
<div class="flex gap-4">
  <div class="w-full flex flex-col gap-2">
    <label for="province">استان*</label>
    <select class="border border-gray-300 rounded-lg p-2" name="province_id" id="province" data-action="http://localhost/getCities.php">
      <option value="0">استان را انتخاب کنید</option> 
      <option value="1">آذربایجان شرقی</option> 
      <option value="2">آذربایجان غربی</option> 
      <option value="3">اردبیل</option> 
      <option value="4">اصفهان</option> 
      <option value="5">البرز</option> 
      <option value="6">ایلام</option> 
      <option value="7">بوشهر</option> 
      <option value="8">تهران</option> 
      <option value="9">چهارمحال بختیاری</option> 
      <option value="10">خراسان جنوبی</option> 
      <option value="11">خراسان رضوی</option> 
      <option value="12">خراسان شمالی</option> 
      <option value="13">خوزستان</option> 
      <option value="14">زنجان</option> 
      <option value="15">سمنان</option> 
      <option value="16">سیستان و بلوچستان</option> 
      <option value="17">فارس</option> 
      <option value="18">قزوین</option> 
      <option value="19">قم</option> 
      <option value="20">کردستان</option> 
      <option value="21">کرمان</option> 
      <option value="22">کرمانشاه</option> 
      <option value="23">کهکیلویه و بویراحمد</option> 
      <option value="24">گلستان</option> 
      <option value="25">گیلان</option> 
      <option value="26">لرستان</option> 
      <option value="27">مازندران</option> 
      <option value="28">مرکزی</option> 
      <option value="29">هرمزگان</option> 
      <option value="30">همدان</option> 
      <option value="31">یزد</option>
      </select>
  </div>
  <div class="w-full flex flex-col gap-2">
    <label for="CityList">شهر*</label>
    <select id="CityList" class="DdlCity">
      <option value="1">آذرشهر</option>
      <option value="1">اسکو</option>
      <option value="1">اهر</option>
      <option value="1">بستان‌آباد</option>
      <option value="1">بناب</option>
      <option value="1">تبریز </option>
      <option value="1">جلفا</option>
      <option value="1">چاراویماق</option>
      <option value="1">سراب</option>
      <option value="1">شبستر</option>
      <option value="1">عجب‌شیر</option>
      <option value="1">کلیبر</option>
      <option value="1">مراغه</option>
      <option value="1">مرند</option>
      <option value="1">ملکان</option>
      <option value="1">میانه</option>
      <option value="1">ورزقان</option>
      <option value="1">هریس</option>
      <option value="1">هشترود</option>
      <option value="2">ارومیه</option>
      <option value="2">اشنویه</option>
      <option value="2">بوکان</option>
      <option value="2">پیرانشهر</option>
      <option value="2">تکاب</option>
      <option value="2">چالدران</option>
      <option value="2">خوی</option>
      <option value="2">سردشت</option>
      <option value="2">سلماس</option>
      <option value="2">شاهین‌دژ</option>
      <option value="2">ماکو</option>
      <option value="2">مهاباد</option>
      <option value="2">میاندوآب</option>
      <option value="2">نقده</option>
      <option value="3">اردبیل</option>
      <option value="3">بیله‌سوار</option>
      <option value="3">پارس‌آباد</option>
      <option value="3">خلخال</option>
      <option value="3">کوثر </option>
      <option value="3">گِرمی</option>
      <option value="3">مِشگین‌شهر</option>
      <option value="3">نَمین</option>
      <option value="3">نیر</option>
      <option value="4">آران و بیدگل</option>
      <option value="4">اردستان</option>
      <option value="4">اصفهان </option>
      <option value="4">برخوار و میمه</option>
      <option value="4">تیران و کرون</option>
      <option value="4">چادگان</option>
      <option value="4">خمینی‌شهر</option>
      <option value="4">خوانسار</option>
      <option value="4">سمیرم</option>
      <option value="4">شهرضا</option>
      <option value="4">سمیرم سفلی</option>
      <option value="4">فریدن</option>
      <option value="4">فریدون‌شهر</option>
      <option value="4">فلاورجان</option>
      <option value="4">کاشان</option>
      <option value="4">گلپایگان</option>
      <option value="4">لنجان</option>
      <option value="4">مبارکه</option>
      <option value="4">نائین</option>
      <option value="4">نجف‌آباد </option>
      <option value="4">نطنز</option>
      <option value="5">آبدانان</option>
      <option value="5">ایلام</option>
      <option value="5">ایوان</option>
      <option value="5">دره‌شهر</option>
      <option value="5">دهلران</option>
      <option value="5">شیروان و چرداول</option>
      <option value="5">مهران</option>
      <option value="6">بوشهر</option>
      <option value="6">تنگستان </option>
      <option value="6">جم</option>
      <option value="6">دشتستان</option>
      <option value="6">دشتی</option>
      <option value="6">دیر</option>
      <option value="6">دیلم</option>
      <option value="6">کنگان </option>
      <option value="6">گناوه</option>
      <option value="7">اسلام‌شهر</option>
      <option value="7">پاکدشت</option>
      <option value="7">تهران</option>
      <option value="7">دماوند</option>
      <option value="7">رباط‌کریم</option>
      <option value="7">ری</option>
      <option value="7">ساوجبلاغ</option>
      <option value="7">شمیرانات</option>
      <option value="7">شهریار</option>
      <option value="7">فیروزکوه</option>
      <option value="7">کرج </option>
      <option value="7">نظرآباد</option>
      <option value="7">ورامین</option>
      <option value="8">اردل</option>
      <option value="8">بروجن</option>
      <option value="8">شهرکرد</option>
      <option value="8">فارسان</option>
      <option value="8">کوهرنگ</option>
      <option value="8">لردگان</option>
      <option value="9">بیرجند</option>
      <option value="9">درمیان</option>
      <option value="9">سرایان</option>
      <option value="9">سربیشه</option>
      <option value="9">فردوس</option>
      <option value="9">قائنات</option>
      <option value="9">نهبندان</option>
      <option value="10">بردسکن</option>
      <option value="10">تایباد</option>
      <option value="10">تربت جام</option>
      <option value="10">تربت حیدریه</option>
      <option value="10">چناران</option>
      <option value="10">خلیل‌آباد</option>
      <option value="10">خواف </option>
      <option value="10">درگز</option>
      <option value="10">رشتخوار</option>
      <option value="10">سبزوار </option>
      <option value="10">سرخس</option>
      <option value="10">فریمان</option>
      <option value="10">قوچان</option>
      <option value="10">کاشمر</option>
      <option value="10">کلات</option>
      <option value="10">گناباد</option>
      <option value="10">مشهد</option>
      <option value="10">مه ولات</option>
      <option value="10">نیشابور</option>
      <option value="11">اسفراین</option>
      <option value="11">بجنورد </option>
      <option value="11">جاجرم</option>
      <option value="11">شیروان</option>
      <option value="11">فاروج</option>
      <option value="11">مانه و سملقان</option>
      <option value="12">آبادان</option>
      <option value="12">امیدیه</option>
      <option value="12">اندیمشک</option>
      <option value="12">اهواز</option>
      <option value="12">ایذه</option>
      <option value="12">باغ‌ملک</option>
      <option value="12">بندر ماهشهر</option>
      <option value="12">بهبهان</option>
      <option value="12">خرمشهر</option>
      <option value="12">دزفول</option>
      <option value="12">دشت آزادگان</option>
      <option value="12">رامشیر</option>
      <option value="12">رامهرمز</option>
      <option value="12">شادگان</option>
      <option value="12">شوش</option>
      <option value="12">شوشتر</option>
      <option value="12">گتوند</option>
      <option value="12">لالی</option>
      <option value="12">مسجد سلیمان</option>
      <option value="12">هندیجان</option>
      <option value="13">ابهر</option>
      <option value="13">ایجرود</option>
      <option value="13">خدابنده</option>
      <option value="13">خرمدره</option>
      <option value="13">زنجان </option>
      <option value="13">طارم</option>
      <option value="13">ماه‌نشان</option>
      <option value="14">دامغان</option>
      <option value="14">سمنان</option>
      <option value="14">شاهرود</option>
      <option value="14">گرمسار</option>
      <option value="14">مهدی‌شهر</option>
      <option value="15">ایرانشهر </option>
      <option value="15">چابهار</option>
      <option value="15">خاش</option>
      <option value="15">دلگان</option>
      <option value="15">زابل</option>
      <option value="15">زاهدان</option>
      <option value="15">زهک</option>
      <option value="15">سراوان</option>
      <option value="15">سرباز</option>
      <option value="15">کنارک</option>
      <option value="15">نیک‌شهر</option>
      <option value="16">آباده </option>
      <option value="16">ارسنجان</option>
      <option value="16">استهبان </option>
      <option value="16">اقلید</option>
      <option value="16">بوانات</option>
      <option value="16">پاسارگاد</option>
      <option value="16">جهرم</option>
      <option value="16">خرم‌بید</option>
      <option value="16">خنج</option>
      <option value="16">داراب</option>
      <option value="16">زرین‌دشت</option>
      <option value="16">سپیدان</option>
      <option value="16">شیراز</option>
      <option value="16">فراشبند</option>
      <option value="16">فسا</option>
      <option value="16">فیروزآباد</option>
      <option value="16">قیر و کارزین</option>
      <option value="16">کازرون</option>
      <option value="16">لارستان</option>
      <option value="16">لامِرد</option>
      <option value="16">مرودشت </option>
      <option value="16">ممسنی</option>
      <option value="16">مهر</option>
      <option value="16">نی‌ریز</option>
      <option value="17">آبیک</option>
      <option value="17">البرز</option>
      <option value="17">بوئین‌زهرا</option>
      <option value="17">تاکستان</option>
      <option value="17">قزوین</option>
      <option value="18">قم</option>
      <option value="19">بانه </option>
      <option value="19">بیجار</option>
      <option value="19">دیواندره</option>
      <option value="19">سروآباد</option>
      <option value="19">سقز </option>
      <option value="19">سنندج</option>
      <option value="19">قروه</option>
      <option value="19">کامیاران</option>
      <option value="19">مریوان</option>
      <option value="20">بافت</option>
      <option value="20">بردسیر</option>
      <option value="20">بم</option>
      <option value="20">جیرفت</option>
      <option value="20">راور</option>
      <option value="20">رفسنجان</option>
      <option value="20">رودبار جنوب</option>
      <option value="20">زرند</option>
      <option value="20">سیرجان</option>
      <option value="20">شهر بابک</option>
      <option value="20">عنبرآباد</option>
      <option value="20">قلعه گنج </option>
      <option value="20">کرمان</option>
      <option value="20">کوهبنان</option>
      <option value="20">کهنوج</option>
      <option value="20">منوجان</option>
      <option value="21">اسلام‌آباد غرب</option>
      <option value="21">پاوه</option>
      <option value="21">ثلاث باباجانی</option>
      <option value="21">جوانرود</option>
      <option value="21">دالاهو</option>
      <option value="21">روانسر</option>
      <option value="21">سرپل ذهاب</option>
      <option value="21">سنقر</option>
      <option value="21">صحنه</option>
      <option value="21">قصر شیرین</option>
      <option value="21">کرمانشاه </option>
      <option value="21">کنگاور</option>
      <option value="21">گیلان غرب</option>
      <option value="21">هرسین</option>
      <option value="22">بویراحمد</option>
      <option value="22">بهمئی</option>
      <option value="22">دنا</option>
      <option value="22">کهگیلویه</option>
      <option value="22">گچساران</option>
      <option value="23">آزادشهر</option>
      <option value="23">آزادشهر</option>
      <option value="23">آق‌قلا</option>
      <option value="23">بندر گز</option>
      <option value="23">ترکمن </option>
      <option value="23">رامیان</option>
      <option value="23">علی‌آباد</option>
      <option value="23">کردکوی</option>
      <option value="23">کلاله</option>
      <option value="23">گرگان </option>
      <option value="23">گنبد کاووس</option>
      <option value="23">مراوه‌تپه</option>
      <option value="23">مینودشت</option>
      <option value="24">آستارا</option>
      <option value="24">آستانه اشرفیه</option>
      <option value="24">اَملَش</option>
      <option value="24">بندر انزلی</option>
      <option value="24">رشت</option>
      <option value="24">رضوانشهر</option>
      <option value="24">رودبار</option>
      <option value="24">رودسر</option>
      <option value="24">سیاهکل</option>
      <option value="24">شَفت</option>
      <option value="24">صومعه‌سرا</option>
      <option value="24">طوالش</option>
      <option value="24">فومَن</option>
      <option value="24">لاهیجان </option>
      <option value="24">لنگرود</option>
      <option value="24">ماسال</option>
      <option value="25">ازنا</option>
      <option value="25">اليگودرز</option>
      <option value="25">بروجرد</option>
      <option value="25">پل‌دختر</option>
      <option value="25">خرم‌آباد </option>
      <option value="25">دورود</option>
      <option value="25">دلفان </option>
      <option value="25">سلسله</option>
      <option value="25">کوهدشت</option>
      <option value="26">آمل</option>
      <option value="26">بابل</option>
      <option value="26">بابلسر</option>
      <option value="26">بهشهر</option>
      <option value="26">تنکابن</option>
      <option value="26">جويبار</option>
      <option value="26">چالوس</option>
      <option value="26">رامسر</option>
      <option value="26">ساري</option>
      <option value="26">سوادکوه </option>
      <option value="26">قائم‌شهر</option>
      <option value="26">گلوگاه</option>
      <option value="26">محمودآباد</option>
      <option value="26">نکا</option>
      <option value="26">نور</option>
      <option value="26">نوشهر</option>
      <option value="27">آشتيان</option>
      <option value="27">اراک</option>
      <option value="27">تفرش</option>
      <option value="27">خمين</option>
      <option value="27">دليجان </option>
      <option value="27">زرنديه</option>
      <option value="27">ساوه</option>
      <option value="27">شازند</option>
      <option value="27">کميجان</option>
      <option value="27">محلات</option>
      <option value="28">ابوموسي</option>
      <option value="28">بستک</option>
      <option value="28">بندر عباس</option>
      <option value="28">بندر لنگه</option>
      <option value="28">جاسک</option>
      <option value="28">حاجي‌آباد</option>
      <option value="28">خمير </option>
      <option value="28">رودان</option>
      <option value="28">قشم</option>
      <option value="28">گاوبندي</option>
      <option value="28">ميناب</option>
      <option value="29">اسدآباد</option>
      <option value="29">بهار</option>
      <option value="29">تويسرکان</option>
      <option value="29">رزن </option>
      <option value="29">کبودرآهنگ</option>
      <option value="29">ملاير</option>
      <option value="29">نهاوند</option>
      <option value="29">همدان</option>
      <option value="30">ابرکوه</option>
      <option value="30">اردکان</option>
      <option value="30">بافق </option>
      <option value="30">تفت</option>
      <option value="30">خاتم</option>
      <option value="30">صدوق</option>
      <option value="30">طبس</option>
      <option value="30">مهريز</option>
      <option value="30">مِيبُد</option>
      <option value="30">يزد</option>
   
  </select>
  </div>
</div>